body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#canvas {
  border: 1px solid #ccc;
  background-color: #fff;
}
